$red: #f38181;
$yellow: #fce38a;
$blue: #95e1d3;
$darkGrey: #333333;


@mixin background($img)
    background-image: url($img)
    background-size: cover
    background-repeat: no-repeat
    background-position: center center

.btn
    padding: 5px 25px
    border: solid 3px white
    display: inline-block
    transition: all 200ms
    font-weight: bold
    cursor: pointer
    &:hover
        background-color: white
        color: $red

.title
    text-align: center
    margin-bottom: 90px
    font-family: "Montserrat"
    h2,h3
        margin: 0px
    h3
        font-size: 24px
        font-family: "Kaushan"
    h2
        font-size: 30px
    .line
        width: 60px
        height: 3px
        background-color: $red
        margin: 30px auto
    &__sub
        color: #999
        
