section.clients
    .title
        h3 Happy Clients
        h2 WHAT PEOPLE SAY
        .line
    .container
        .client
            .client__avatar
                img(src="./assets/images/client_avatar1.png")
            .client__descr
                h3.client__name Bob Bob
                span.client__position Graphic Design
                .line
                p.client__quote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad m
        .client
            .client__avatar
                img(src="./assets/images/client_avatar2.png")
            .client__descr
                h3.client__name Bob Bob
                span.client__position Graphic Design
                .line
                p.client__quote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad m
        .client
            .client__avatar
                img(src="./assets/images/client_avatar3.png")
            .client__descr
                h3.client__name Bob Bob
                span.client__position Graphic Design
                .line
                p.client__quote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad m
        .client
            .client__avatar
                img(src="./assets/images/client_avatar4.png")
            .client__descr
                h3.client__name Bob Bob
                span.client__position Graphic Design
                .line
                p.client__quote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad m