section.devices
    .title
        h3 For all devices
        h2 UNIQUE DESIGN
        .line
    .container
        

        img(src="./assets/images/tablet.png" class="tablet")
        img(src="./assets/images/iphone.png" class="iphone")