section.footer#contact
    .map
        .wrapper
            <i class="fa fa-map-marker fa-3x" aria-hidden="true"></i>
            h2 OPEN MAP
            .line
    .container
        .wrapper
            h1.logo MoGo
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo

            .footer__followers <strong>15K</strong> followers
            .footer__follow
                span Follow Us:
                    a(href="#")
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    a(href="#")
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    a(href="#")
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    a(href="#")
                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                    a(href="#")
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    a(href="#")
                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    a(href="#")
                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                    a(href="#")
                        <i class="fa fa-tumblr" aria-hidden="true"></i>
            form.footer__form
                input(type='text' name='text' placeholder="Your Email...")
                input(type='button' value="SUBSCRIBE")
        .wrapper
            h3 BLOGS
            article.blog
                .blog__img
                    img(src="./assets/images/blog1.png")
                .blog__descr
                    .blog__title Lorem ipsum dolor sit amet, consectetur adipiscing
                    .blog__date Jan 9, 2017
            article.blog
                .blog__img
                    img(src="./assets/images/blog2.png")
                .blog__descr
                    .blog__title Lorem ipsum dolor sit amet, consectetur adipiscing
                    .blog__date Jan 9, 2017
            article.blog
                .blog__img
                    img(src="./assets/images/blog3.png")
                .blog__descr
                    .blog__title Lorem ipsum dolor sit amet, consectetur adipiscing
                    .blog__date Jan 9, 2017
        .wrapper
            h3 INSTAGRAM
            .image-grid
                each item in [1,2,3,4,5,6,7,8,9]
                    a(href="#")
                        img(src="./assets/images/blog1.png")
                    
            a.view-more(href="#") View more photos