section.quote
    .container
         div.slider
            div.slider__arrow.slider__arrow-prev.slick-arrow.slick-prev <i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>
            div.slider__arrow.slider__arrow-next <i class="fa fa-chevron-right fa-lg" aria-hidden="true"></i>
            div.slider-wrapper
                article.slide
                    .slide__img
                        <i class="fa fa-comments fa-4x" aria-hidden="true"></i>
                    .slide__content
                        span “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
                        .slide__quote-wrapper
                            .slide__quote-line.line
                            .slide__quote-name Jon Doe
                article.slide
                    .slide__img
                        <i class="fa fa-comments fa-4x" aria-hidden="true"></i>
                    .slide__content
                        span “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
                        .slide__quote-wrapper
                            .slide__quote-line
                            .slide__quote-name Jon Doe
            