section.services
    .container
        .title
            h3 Service
            h2 WHAT WE DO
            .line
            p.title__sub Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    
    .container.main
        img(src="./assets/images/service.png")
        ul.tab-list
            li.tab-list__item.active
                .tab-list__title
                    <i class="fa fa-camera-retro fa-lg" aria-hidden="true"></i>
                    h3 PHOTOGRAPHY
                    <i class="fa fa-chevron-right toggleArrow" aria-hidden="true"></i>
                .wrapper
                    .tab-list__descr
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

            li.tab-list__item
                .tab-list__title
                    <i class="fa fa-lightbulb-o fa-lg" aria-hidden="true"></i>
                    h3 CREATIVITY
                    <i class="fa fa-chevron-right toggleArrow" aria-hidden="true"></i>
                .wrapper
                    .tab-list__descr
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

            li.tab-list__item
                .tab-list__title
                    <i class="fa fa-picture-o fa-lg" aria-hidden="true"></i>
                    h3 WEB DESIGN
                    <i class="fa fa-chevron-right toggleArrow" aria-hidden="true"></i>
                .wrapper
                    .tab-list__descr
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 