section.services
    .container
        .title
            h3 We work with
            h2 AMAZING SERVIES
            .line
        
        ul.services__list
            li.services__item
                <i class="fa fa-camera-retro fa-2x" aria-hidden="true"></i>
                .wrapper
                    h3 PHOTOGRAPHY
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
            li.services__item
                <i class="fa fa-picture-o fa-2x" aria-hidden="true"></i>
                .wrapper
                    h3 WEB DESIGN
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
            li.services__item
                <i class="fa fa-lightbulb-o fa-2x" aria-hidden="true"></i>
                .wrapper
                    h3 CREATIVITY
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
            
            li.services__item
                <i class="fa fa-newspaper-o fa-2x" aria-hidden="true"></i>
                .wrapper
                    h3 SEO
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
            li.services__item
                <i class="fa fa-code fa-2x" aria-hidden="true"></i>
                .wrapper
                    h3 CSS/HTML
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
            li.services__item
                <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
                .wrapper
                    h3 DIGITAL
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.