section.stories#blog
    .title
        h3 Our Stories
        h2 LATEST BLOG
        .line
    .container
        article.blog
            .blog__img
                img(src="./assets/images/blog1.png")
                .blog__date
                    h3 15
                    span Jan
            .blog__title Lorem ipsum dolor sit amet
            .blog__descr Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .blog__addition
                .blog__views
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    span.blog__views-number 542
                .blog__comments
                    <i class="fa fa-commenting" aria-hidden="true"></i>
                    span.blog__comments-number 17
        article.blog
            .blog__img
                img(src="./assets/images/blog2.png")
                .blog__date
                    h3 14
                    span Jan
            .blog__title Lorem ipsum dolor sit amet
            .blog__descr Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .blog__addition
                .blog__views
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    span.blog__views-number 992
                .blog__comments
                    <i class="fa fa-commenting" aria-hidden="true"></i>
                    span.blog__comments-number 42
        article.blog
            .blog__img
                img(src="./assets/images/blog3.png")
                .blog__date
                    h3 12
                    span Jan
            .blog__title Lorem ipsum dolor sit amet
            .blog__descr Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .blog__addition
                .blog__views
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    span.blog__views-number 1560
                .blog__comments
                    <i class="fa fa-commenting" aria-hidden="true"></i>
                    span.blog__comments-number 92
        