section.team
    .container
        .title
            h3 Who we are
            h2 MEET OUR TEAM
            .line
            p.title__sub Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        .team__content
            .team__item
                .team__img
                    .hover-input
                    img(src="./assets/images/person1.png")
                .team__desc
                    p.team__name Matthew Dix
                    p.team__position Graphic Designed
            .team__item
                .team__img
                    .hover-input
                    img(src="./assets/images/person2.png")
                .team__desc
                    p.team__name Christopher Campbell
                    p.team__position Branding/UX design
            .team__item
                .team__img
                    .hover-input
                    img(src="./assets/images/person3.png")
                .team__desc
                    p.team__name Michael Fertig 
                    p.team__position Developer