section.whatWeDo
    .container
        .title
            h3 What we Do?
            h2 Story about us
            .line
            p.title__sub Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        
        .whatWeDo__content
            .whatWeDo__item
                .hover-input
                    <i class="fa fa-users fa-lg" aria-hidden="true"></i>
                    p Super Team
                img(src="./assets/images/aboutus1.png")
            .whatWeDo__item
                .hover-input
                    <i class="fa fa-users fa-lg" aria-hidden="true"></i>
                    p Super Team
                img(src="./assets/images/aboutus1.png")
            .whatWeDo__item
                .hover-input
                    <i class="fa fa-users fa-lg" aria-hidden="true"></i>
                    p Super Team
                img(src="./assets/images/aboutus3.png")