section.whatWeDo
    .container
        .title
            h3 What we Do?
            h2 Story about us
            .line
            p.title__sub Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        
        .whatWeDo__content
            .whatWeDo__item
                .hover-input
                    <i class="fa fa-users fa-lg" aria-hidden="true"></i>
                    p Super Team
                img(src="./assets/images/aboutus1.png")
            .whatWeDo__item
                .hover-input
                    <i class="fa fa-users fa-lg" aria-hidden="true"></i>
                    p Super Team
                img(src="./assets/images/aboutus2.png")
            .whatWeDo__item
                .hover-input
                    <i class="fa fa-users fa-lg" aria-hidden="true"></i>
                    p Super Team
                img(src="./assets/images/aboutus3.png")

section.facts
    .container
        .facts__item
            span 42
            p WEB DESIGN PROJECTS
        .facts__item
            span 123
            p HAPPY CLIENT
        .facts__item
            span 15
            p AWARD WINNER
        .facts__item
            span 99
            p CUP OF COFFEE
        .facts__item
            span 24
            p MEMBERS
        

            