.btn {
  padding: 5px 25px;
  border: solid 3px white;
  display: inline-block;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  font-weight: bold;
  cursor: pointer; }
  .btn:hover {
    background-color: white;
    color: #f38181; }

.title {
  text-align: center;
  margin-bottom: 90px;
  font-family: "Montserrat"; }
  .title h2, .title h3 {
    margin: 0px; }
  .title h3 {
    font-size: 24px;
    font-family: "Kaushan"; }
  .title h2 {
    font-size: 30px; }
  .title .line {
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 30px auto; }
  .title__sub {
    color: #999; }

@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf"); }

@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  src: url("../assets/fonts/Montserrat/Montserrat-ExtraBold.ttf"); }

@font-face {
  font-family: "Montserrat";
  font-weight: light;
  src: url("../assets/fonts/Montserrat/Montserrat-Light.ttf"); }

@font-face {
  font-family: "Kaushan";
  font-weight: normal;
  src: url("../assets/fonts/Kaushan_Script/KaushanScript-Regular.ttf"); }

html, body {
  padding: 0px;
  margin: 0px;
  height: 100%; }

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none; }

a {
  text-decoration: none; }

body {
  font-weight: normal;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }

.page-wrapper {
  height: 100%; }

.container {
  max-width: 1200px;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat"; }
  @media screen and (max-width: 1200px) {
    .container {
      padding: 0px 20px; } }

.navbar {
  position: fixed;
  z-index: 1000;
  height: 60px;
  width: 100%;
  line-height: 60px;
  color: white;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .navbar .logo {
    font-size: 24px;
    margin: 0px;
    float: left; }

.menu {
  float: right; }
  .menu__item {
    display: inline-block;
    margin: 0px 20px;
    -webkit-transition: border 200ms;
    -o-transition: border 200ms;
    transition: border 200ms;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms; }
    .menu__item:after {
      content: "";
      position: absolute;
      z-index: 100;
      bottom: 0px;
      left: 0px;
      width: 100%;
      -webkit-transition: all 300ms;
      -o-transition: all 300ms;
      transition: all 300ms; }
    .menu__item:hover:after {
      height: 3px;
      background-color: #fce38a; }

.banner {
  height: 100%;
  position: relative;
  color: white;
  font-family: "Montserrat";
  background-image: url("../assets/images/banner.png");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .banner:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: -webkit-gradient(linear, left top, left bottom, from(#f38181), to(#fce38a));
    background: -webkit-linear-gradient(#f38181, #fce38a);
    background: -o-linear-gradient(#f38181, #fce38a);
    background: linear-gradient(#f38181, #fce38a);
    opacity: 0.9;
    z-index: 2; }
  .banner .container {
    height: 100%;
    position: relative;
    z-index: 100;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .banner .container .preview {
      text-align: center; }
      .banner .container .preview h1, .banner .container .preview h3 {
        margin: 0px; }
      .banner .container .preview h3 {
        font-family: "Kaushan";
        font-size: 62px; }
      .banner .container .preview h1 {
        font-size: 130px;
        line-height: 150px; }
        @media screen and (max-width: 780px) {
          .banner .container .preview h1 {
            font-size: 15vmin;
            line-height: 15vmin; } }
      .banner .container .preview .line {
        width: 60px;
        height: 3px;
        background-color: white;
        margin: 30px auto; }

.whatWeDo {
  text-align: center;
  color: #333;
  padding: 90px 0px; }
  .whatWeDo__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .whatWeDo__item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    margin: 10px; }
    @media screen and (max-width: 480px) {
      .whatWeDo__item {
        -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%; } }
    .whatWeDo__item img {
      width: 100%; }
    .whatWeDo__item .hover-input {
      position: absolute;
      font-family: "Montserrat";
      color: white;
      z-index: 101;
      font-weight: bold;
      -webkit-transition: all 300ms;
      -o-transition: all 300ms;
      transition: all 300ms;
      opacity: 0.0;
      font-size: 24px; }
    .whatWeDo__item:after {
      content: "";
      position: absolute;
      z-index: 100;
      opacity: 0.0;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background: -webkit-gradient(linear, left top, left bottom, from(#f38181), to(#fce38a));
      background: -webkit-linear-gradient(#f38181, #fce38a);
      background: -o-linear-gradient(#f38181, #fce38a);
      background: linear-gradient(#f38181, #fce38a);
      -webkit-transition: all 300ms;
      -o-transition: all 300ms;
      transition: all 300ms; }
    .whatWeDo__item:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background-color: #95e1d3;
      -webkit-transition: all 300ms;
      -o-transition: all 300ms;
      transition: all 300ms; }
    .whatWeDo__item:hover {
      -webkit-transform: translate(-10px, -10px);
          -ms-transform: translate(-10px, -10px);
              transform: translate(-10px, -10px); }
      .whatWeDo__item:hover:after {
        opacity: 0.9; }
      .whatWeDo__item:hover:before {
        -webkit-transform: translate(10px, 10px);
            -ms-transform: translate(10px, 10px);
                transform: translate(10px, 10px); }
      .whatWeDo__item:hover .hover-input {
        opacity: 1.0; }

.facts {
  background-color: #95e1d3;
  padding: 90px 0px; }
  .facts .container {
    color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    font-family: "Montserrat";
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .facts__item {
    text-align: center;
    letter-spacing: 2px; }
    .facts__item span {
      font-size: 60px;
      font-weight: bold; }
    .facts__item p {
      margin: 0px; }

.services {
  padding: 90px 0px;
  color: #333; }
  .services__list {
    padding: 0px;
    margin: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .services__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-basis: 30%;
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%;
    margin-bottom: 50px; }
    @media screen and (max-width: 1024px) {
      .services__item {
        -webkit-flex-basis: 50%;
            -ms-flex-preferred-size: 50%;
                flex-basis: 50%; } }
    @media screen and (max-width: 540px) {
      .services__item {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
        margin-bottom: 30px; }
        .services__item i {
          padding: 0px !important; } }
    .services__item i {
      color: #95e1d3;
      padding: 0px 30px; }
    .services__item h3 {
      margin: 0px;
      font-size: 16px; }
    .services__item p {
      margin: 0px;
      font-size: 14px;
      color: #999; }

.devices {
  padding-top: 90px;
  background-image: url("../assets/images/devices.png");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .devices .container {
    text-align: center;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .devices .container .tablet {
      width: 500px; }
    .devices .container .iphone {
      position: absolute;
      bottom: -80px;
      left: -webkit-calc(50% + 150px);
      left: calc(50% + 150px);
      width: 250px; }
    @media screen and (max-width: 750px) {
      .devices .container .iphone {
        float: right;
        left: auto;
        right: 0px; } }
    @media screen and (max-width: 500px) {
      .devices .container {
        display: block; }
        .devices .container .tablet {
          width: 100%; }
        .devices .container .iphone {
          display: none; } }

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .main .tab-list {
    padding: 0px;
    margin: 0px;
    margin-left: 20px; }
    .main .tab-list__item {
      margin-bottom: 15px; }
      .main .tab-list__item.active .wrapper {
        display: block; }
      .main .tab-list__item.active .toggleArrow {
        -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
                transform: rotate(-90deg); }
    .main .tab-list .wrapper {
      display: none;
      padding-top: 20px;
      border-left: solid 1px #e5e5e5;
      border-right: solid 1px #e5e5e5;
      border-bottom: solid 1px #e5e5e5; }
    .main .tab-list__title {
      border: solid 1px #e5e5e5;
      cursor: pointer;
      padding: 0px 20px;
      height: 50px;
      line-height: 50px; }
      .main .tab-list__title i, .main .tab-list__title h3 {
        display: inline-block; }
      .main .tab-list__title .toggleArrow {
        float: right;
        line-height: 50px;
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg);
        color: #ccc; }
      .main .tab-list__title h3 {
        font-size: 16px;
        margin: 0px;
        margin-left: 20px; }
    .main .tab-list__descr {
      position: relative;
      margin: 20px;
      margin-top: 0px;
      height: 130px;
      overflow-y: scroll; }
      .main .tab-list__descr::-webkit-scrollbar {
        width: 5px;
        -webkit-border-radius: 5px;
                border-radius: 5px; }
      .main .tab-list__descr::-webkit-scrollbar-track {
        background-color: #e5e5e5; }
      .main .tab-list__descr::-webkit-scrollbar-thumb {
        background-color: #95e1d3;
        -webkit-border-radius: 5px;
                border-radius: 5px; }
      .main .tab-list__descr p {
        display: block;
        margin: 0px;
        font-size: 14px; }
  @media screen and (max-width: 1000px) {
    .main {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .main img {
        margin-bottom: 20px;
        position: absolute;
        display: block;
        width: 100%; }
      .main .tab-list {
        width: 100%;
        margin: 0px; } }
